* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --gold: #d9972e;
  --darkblue: #15191e;
}

/* list  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
}

ul li a:hover {
  color: var(--gold);
}

/* icon  */

i {
  font-size: 1.5rem;
}

i:hover {
  animation: hover 0.5s;
}

@keyframes hover {
  50% {
    transform: translateZ(10px) scale(1.1);
  }
}

/* button  */

button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.button__primary {
  background-image: linear-gradient(
    to right,
    #ceb009 0%,
    #d9972e 51%,
    crimson 100%
  );
  text-align: center;
  transition: 0.5s;
  border-radius: 4px;
  background-size: 200% auto;
  display: block;
  !box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button__primary:hover {
  background-position: right center;
}

.hide__mobile {
  display: none;
}

/* navbar */

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  !justify-content: space-between;
  align-items: center;
  background-color: var(--darkblue);
  z-index: 1;
  !padding: 50px;
}

.navbar__brand {
  padding: 30px 10px;
  width: 70%;
}

.brand__logo {
  width: 100%;
  height: 100%;
}

.navbar__items {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.menu,
.user__details {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.5rem;
}

.hamburger__menu > div {
  width: 35px;
  height: 5px;
  background-color: #f9fafc;
  margin: 6px 0;
}

.hamburger__menu__close {
  display: none !important;
}

.hamburger__menu {
  background: transparent;
}

/* hero */
.hero__image__container {
  position: relative;
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./hero.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  animation: 8s zoom infinite;
}

@keyframes zoom {
  50% {
    background-size: 110% 110%;
  }
}

.hero__description {
  color: white;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero__text {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  animation: 2s slide-bottom forwards;
  transform: translateY(-150%);
}

@keyframes slide-bottom {
  to {
    transform: translateY(0);
  }
}

.hero__subtext {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  animation: 3s slide-right forwards;
  transform: translateX(-100%);
  text-align: center;
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

.hero__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.categories {
  width: 100%;
  margin-bottom: 8px;
}

.categories__button {
  width: 100%;
  letter-spacing: 2px;
  background: var(--gold);
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

.categories__button i {
  font-size: 13px;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 20%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.search-box {
  width: 100%;
  !background-color: #f9fafc;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.search-box input {
  width: 70%;
  padding: 0.5rem 1rem;
  !font-size: 20px;
}

.search__button {
  width: 30%;
  background: var(--gold);
  color: white;
  !font-size: 20px;
}

.container {
  width: 100%;
  padding: 15px;
}

.welcome__container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card .left {
  width: 50%;
  background: url(./w1.jpg) no-repeat center / cover;
  height: 300px;
  z-index: 1;
}

.card .right {
  width: 50%;
  background: url(./w2.jpg) no-repeat center / cover;
  height: 300px;
  margin-top: -100px;
  margin-left: -70px;
}

.welcome__description {
  width: 100%;
  padding: 30px 15px;
}

.welcome__text span {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  color: var(--gold);
}

/* bannerCards */

.banner__cards__section {
  !background-color: var(--darkblue);
  margin: 3rem 0;
}

.banner__cards {
  display: flex;
  flex-direction: column;
}

.banner__card {
  background: cadetblue;
  justify-content: space-between;
  margin: 10px 0;
  background-color: transparent;
  height: 150px;
  perspective: 1000px;
}

.banner__card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.banner__card:hover .banner__card__inner {
  transform: rotateY(180deg);
}

.banner__card__front,
.banner__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.banner__card__front {
  background-color: #bbb;
  color: black;
}

.banner__card__image {
  width: 100%;
  height: 100%;
}

.banner__card__back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* quote */
.quote__container {
  position: relative;
  margin: 3rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center / cover no-repeat;
}

.quote_image_overlay {
  position: absolute;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background-color: #0a4065;
  opacity: 30%;
}

.quote_image_text {
  color: #fff;
  z-index: 3;
  margin: 0 1rem;
  text-align: center;
}

/* footer  */

footer {
  color: #f9fafc;
}

.footer {
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  height: 700px;
  text-align: center;
}

.footer__logo__icons {
  display: flex;
  flex-direction: column;
  !justify-content: space-between;
  align-items: center;
}

.footer .navbar__brand {
  width: 90%;
}

.social__media__icons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 10px;
}

.footer__contact__address {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 1.5;
}

.footer__contact {
  padding: 10px;
  letter-spacing: 2px;
}

.footer__address {
  padding: 10px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer__description {
  flex-basis: 60%;
}

.footer__links .nav__items__list {
  line-height: 2;
}

.copyright {
  padding: 20px;
  text-align: center;
  background: black;
}

@media (min-width: 768px) {
  .mobile__only {
    display: none !important;
  }
  .hide__mobile {
    display: block !important;
  }

  button {
    font-size: 1.25rem;
  }

  .navbar {
    flex-direction: row;
    background: none;
    height: 70px;
    justify-content: space-evenly;
    !padding-top: 10px;
  }
  header .navbar__brand {
    width: 30%;
    padding: 0 50px;
  }
  .hamburger__menu__close {
    display: block !important;
  }
  .navbar__items {
    flex-direction: row-reverse;
    width: 70%;
  }
  .navbar__items {
    justify-content: space-around;
  }
  .nav__items__list {
    display: flex;
  }
  .nav__items__list .nav__item {
    padding: 0 15px;
  }
  .user__details {
    width: 30%;
  }
  .hero__image__container {
    height: 650px;
    margin-top: -5rem;
  }
  .hero__description {
    width: 60%;
    text-align: center;
  }
  .hero__text {
    font-size: 100px;
  }
  .hero__subtext {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .hero__content {
    flex-direction: row;
    width: 100%;
  }

  .categories {
    width: 30%;
    margin-bottom: 0;
  }
  .search-box {
    width: 100%;
  }

  .container {
    padding: 60px 40px;
  }

  /* bannerCards */

  .banner__cards {
    flex-direction: row;
    !width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .banner__card {
    flex-basis: 30%;
  }

  /* quote  */

  .quote__container {
    height: 300px;
    width: 80%;
    margin: 20px auto;
  }

  .quote_image_overlay {
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    !opacity: 49%;
  }

  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }
  /* footer */
  .footer {
    flex-direction: row;
    height: 420px;
    padding: 20px 60px;
  }
  .footer__logo__icons {
    order: 2;
    flex-basis: 30%;
  }

  .footer__contact__address {
    order: 3;
    flex-basis: 30%;
    text-align: left;
  }
  .footer__links .nav__items__list {
    flex-direction: column;
    text-align: left;
  }
  .footer__description {
    flex-basis: 70%;
    text-align: right;
  }
  .footer__content {
    justify-content: space-between;
    flex-basis: 30%;
    order: 1;
  }
}
